<form action="/bands/deleteband" method="post">
     <div class="form-group">
       <input id="band-id" class="form-control" name="band-id" type="hidden" value="$band.getId()">
       <label for="band-delete-btn">Delete the $band.getName() from the database.</label>
       <button type="submit" class="btn btn-danger deletebtn">Delete</button>
     </div>
   </form>
 </div>
</div
