<h1>Bands that Rock!</h1>

<ul>
#foreach ($band in $bands)
  <li><h3><a href="/bands/$band.getId()">$band.getName()</a></h3></li>
#end
</ul>
<br>
<br>

<p>Add a new band:</p>

<form action="/bands" method="post">
  <label for="name">Band name</label>
  <input id="name" name="name" type="text" required="true" />

  <button type="submit">Add band</button>
</form>

<br>
<br>
<br>

<p><a href='/'>Home</a></p>
