<head>
    <title>Rock On</title>
</head>
<body>
    <h1>Welcome to the Rock Life</h1>
    <h1>Rock On!</h1>

    <h3><a href="/venues">Add or view a venue</a></h3>
    <h3><a href="/bands">Add or view a band</a></h3>

</body>
